@import "tailwindcss";

:root {
  --primary-clr: #3baa64;
}

@theme inline {
  --color-primary-clr: var(--primary-clr);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  font-family: "Inter", sans-serif;
}

@layer utilities {
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  .animate-accordion-down {
    animation: accordion-down 0.25s ease-out;
  }

  .animate-accordion-up {
    animation: accordion-up 0.25s ease-out;
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  @keyframes float-delayed {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-15px);
    }
  }
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
  .animate-float-delayed {
    animation: float-delayed 4s ease-in-out infinite;
  }
}
